*,
*:before,
*:after {
  box-sizing: border-box;
}

$standard-padding: 1em;
$standard-border-radius: 8px;

.main-container {
  width: 100%;
  height: 100vh;
  color: rgb(255, 255, 255);
  padding: $standard-padding;
  background-color: rgb(0, 0, 0);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: $standard-padding $standard-padding;
  grid-template-areas:
    "header header header header header"
    "side-1 spectrum spectrum spectrum side-2"
    "bottom-1 bottom-1 bottom-1 bottom-2 bottom-2";
}

.section-container {
  width: 100%;
  height: 100%;
  border: 1px solid rgb(255, 255, 255);
  border-radius: $standard-border-radius;
  padding: $standard-padding;
}

.header {
  grid-area: header;

  h1 {
    width: fit-content;
    margin: 0;
    padding-left: $standard-padding / 4;
    font-size: 6em;
    background-image: gradient(
      linear,
      left top,
      right top,
      color-stop(0, violet),
      color-stop(0.15, indigo),
      color-stop(0.3, blue),
      color-stop(0.45, green),
      color-stop(0.65, yellow),
      color-stop(0.8, orange),
      color-stop(0.1, red)
    );
    color: transparent;
    background-clip: text;

    /* for webkit browsers Chrome and Safari */
    background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      color-stop(0, violet),
      color-stop(0.15, indigo),
      color-stop(0.3, blue),
      color-stop(0.45, green),
      color-stop(0.65, yellow),
      color-stop(0.8, orange),
      color-stop(0.1, red)
    );
    -webkit-background-clip: text;
  }
}

.spectrum {
  grid-area: spectrum;
  height: 100%;
}

.side-1 {
  grid-area: side-1;
}

.side-2 {
  grid-area: side-2;
}

.bottom-1 {
  grid-area: bottom-1;
}

.bottom-2 {
  grid-area: bottom-2;
}
